useDynLib(PeakSegDisk)
export(wc2int)
export(writeBedGraph)
export(PeakSegFPOP_file)
export(PeakSegFPOP_dir)
export(PeakSegFPOP_df)
export(PeakSegFPOP_vec)
export(sequentialSearch_dir)
export(fread.first)
export(fread.last)
export(col.name.list)
import(data.table)
importFrom("utils", "write.table")
importFrom("stats", "coef")
importFrom("graphics", "plot")
S3method("plot", "PeakSegFPOP_dir")
S3method("coef", "PeakSegFPOP_dir")
S3method("plot", "PeakSegFPOP_df")
S3method("coef", "PeakSegFPOP_df")
S3method("summary", "PeakSegFPOP_dir")
