useDynLib(PeakSegDisk)
export(PeakSegFPOP_disk)
export(problem.PeakSegFPOP)
export(problem.sequentialSearch)
export(fread.first)
export(fread.last)
export(col.name.list)
import(data.table)
import(parallel)
importFrom("utils", "write.table")
