useDynLib(PeakSegDisk)
export(PeakSegFPOP_file)
export(PeakSegFPOP_dir)
export(PeakSegFPOP_df)
export(PeakSegFPOP_vec)
export(sequentialSearch_dir)
export(fread.first)
export(fread.last)
export(col.name.list)
import(data.table)
importFrom("utils", "write.table")
